<h1>Burgers to Devour!</h1>

<div id="left">
  <ul>
    {{#each burgers}}
        {{#unless devoured}}
            {{> burgers/burger-block devour=false}}
        {{/unless}}
    {{/each}}
  </ul>
</div>

<div id="right">
  <ul>
    {{#each burgers}}
        {{#if devoured}}
            {{> burgers/burger-devoured devour=true}}
        {{/if}}
    {{/each}}
  </ul>
</div>

<h2>Add a new burger to eat!</h2>
<form id="newBurger" class="button-size">
  <textarea type="text" name="burger"></textarea>
  <button type="submit">Save My Burger!</button>
</form>

